.container-logo {
    display: flex;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 5vw;
}

.container-kategori {
    display: flex;
    width: 100vw;
    padding-left: 25%;
    /* background-color: tomato; */
}

.container-kategori a {
    margin: 10px;
}